<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- How to use: 'choco install {this file}' -->

    <!-- Package Management -->
    <package id="chocolateygui" />

        <!-- Utility -->
    <package id="GoogleJapaneseInput" />
    <package id="7zip" />
    <package id="Everything" />
    <package id="slack" />
    <package id="teraterm" />
    <package id="winmerge" />
    <package id="wireshark" />
    <package id="Cygwin" />

        <!-- Terminal Emulator -->
    <package id="ConEmu" version="19.10.12.0" />

        <!-- CLI Utility -->
    <package id="curl" />
    <package id="Wget" />
    <package id="which" />
    <package id="ctags" />
    <package id="ag" />
    <package id="ripgrep" />
    <package id="fzf" />
    <package id="jq" />
    <package id="vifm" />
    <package id="imagemagick" />

        <!-- Development -->
    <package id="llvm" />
    <package id="python" />
    <package id="python3" />
    <package id="nodejs" />
    <package id="ruby" />
    <package id="golang" />
    <package id="rust" />
    <package id="jdk8" />
    <package id="cmake" />
    <package id="make" />

        <!-- Version Management -->
    <package id="git" />
    <package id="svn" />
    <package id="tortoisegit" />
    <package id="tortoisesvn" />

        <!-- Browser -->
    <package id="GoogleChrome" />
    <package id="Firefox" />
    <package id="qutebrowser" />
    <package id="vivaldi" />

        <!-- Document -->
    <package id="graphviz" />
    <package id="pandoc" />
    <package id="plantuml" />

        <!-- Editor -->
    <package id="vim" />
    <package id="neovim" />
    <package id="vscode" />
    <package id="hidemaru-editor" />
    <package id="notepadplusplus" />
    <package id="sakuraeditor" />

        <!-- PDF Viewer -->
    <package id="PDFXchangeEditor" />

        <!-- Media Player -->
    <package id="vlc" />
    <package id="mpvnet.install" />

        <!-- Virtual Environment -->
    <package id="vagrant" />
    <package id="virtualbox" />

        <!-- Mailer -->
    <package id="thunderbird" />

</packages>
